### OSX ###
.DS_Store
.AppleDouble
.LSOverride

# Basics
*.py[cod]
__pycache__

# Logs
*.log
pip-log.txt

# Translations
*.mo
*.pot

# virtual environments
.virtualenv

# django environ file
.env
.pylintrc
*.css
node_modules
bower_components
*.css
.env-production
