defusedxml==0.4.1
Django==1.10
django-allauth==0.26.1
django-environ==0.4.0
django-filter==0.13.0
djangorestframework==3.4.4
Markdown==2.6.6
oauthlib==1.1.2
python3-openid==3.0.10
requests==2.11.0
requests-oauthlib==0.6.2
six==1.10.0
