@import "variables";
@import "bootstrap";
.navbar-fixed-top {
  background-color: $brand-primary;
}

#brand {
  font-family: 'Carter One', sans-serif;
  margin-bottom: 20px;
  #{$a-tags},
  #{$a-tags-hover} {
    color: #fff;
    text-decoration: none;
  }
}

.quote-box {
  color: #373a3c;
}

.center-float {
  text-align: center;
  float: none;
  margin: 0 auto;
}

.white-text {
  color: #fff;
}

.control-label {
  color: #fff;
}

.adunit {
  margin: 15px;
  text-align: center;
  width: 100%;
}

.comments-section {
  margin-top: 15px;
}