#brand {
  font-family: 'Carter One', sans-serif;
  margin-bottom: 20px; }
  #brand a, #brand a:active, #brand a:hover, #brand a:visited,
  #brand a:active, #brand a:hover {
    color: #fff;
    text-decoration: none; }

.quote-box {
  color: #373a3c; }

.center-float {
  text-align: center;
  float: none;
  margin: 0 auto; }

.white-text {
  color: #fff; }

.control-label {
  color: #fff; }
