{% extends "base.html" %}
{% load static %}
{% load disqus_tags %}

{% block title %} {{ quote }} {% endblock %}

{% block meta_description %}
<meta name="description" content="{{ quote }}">
{% endblock %}

{% block content %}

{% include 'quote.html' %}

<div id="controls" class="row text-xs-center">
    <a class="btn btn-primary" href="{% url 'quotes:homepage' %}">Ver más</a>
</div>

<div style="width: 100%; text-align: center; margin: 15px">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- sqmc-horz-large -->
<ins class="adsbygoogle"
     style="display:inline-block;width:728px;height:90px"
     data-ad-client="ca-pub-9732190249312968"
     data-ad-slot="1614167883"></ins>
<script>
 (adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>

<div class="row white-text text-xs-center">
<h2>Decir "me molesta" muchas veces no es suficiente</h2>
<p class="text-muted">¿Y a ti, qué <em>te caga</em>?</p>
</div>

{% include 'quote_form.html' %}

<!-- Disqus -->
{% disqus_show_comments %}
<!-- end:Disqus -->
{% endblock content %}
