{% extends "base.html" %}
{% load static %}
{% load disqus_tags %}

{% block title %} {{ quote }} {% endblock %}

{% block meta_description %}
<meta name="description" content="{{ quote }}">
{% endblock %}

{% block content %}

{% include 'quote.html' %}

<div id="controls" class="row text-xs-center">
    <a class="btn btn-primary" href="{% url 'quotes:homepage' %}">Ver más</a>
</div>

<div class="row white-text text-xs-center">
<h2>Decir "me molesta" muchas veces no es suficiente</h2>
<p>¿Y a ti, qué <em>te caga</em>?</p>
</div>

{% include 'quote_form.html' %}

<!-- Disqus -->
{% disqus_show_comments %}
<!-- end:Disqus -->

{% endblock content %}
