{% extends "base.html" %}
{% load static %}

{% block title %}Las más {{ list_type }}{% endblock %}

{% block content %}
<div class="row">
    <h2 class="text-xs-center">Las más {{ list_type }}</h2>
</div>

{% for quote in quote_list %}
{% include 'quote.html' %}

{% if forloop.counter|divisibleby:4 %}
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- sqmc-horz-large -->
<ins class="adsbygoogle"
     style="display:inline-block;width:728px;height:90px"
     data-ad-client="ca-pub-9732190249312968"
     data-ad-slot="1614167883"></ins>
<script>
 (adsbygoogle = window.adsbygoogle || []).push({});
</script>
{% endif %}

{% endfor %}


{% if is_paginated %}
<div class="row center-float">
<ul class="pagination list-inline">
  {% if page_obj.has_previous %}
  <li class="list-inline-item">
    <span><a href="?page={{ page_obj.previous_page_number }}">&#8678; Previous</a></span>
  </li>
  {% endif %}
  <li class="list-inline-item">
    <span>Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.</span>
  </li>
  {% if page_obj.has_next %}
  <li class="list-inline-item">
    <span><a href="?page={{ page_obj.next_page_number }}">Next &#8680;</a></span>
  </li>
  {% endif %}
</ul>
</div>
{% endif %}

{% endblock content %}
