{% load staticfiles %}
<html lang="es">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>{% block title %}¿Sabes qué me caga?{% endblock title %}</title>
        {% block meta_description %}{% endblock %}
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">
        <link href="http://fonts.googleapis.com/css?family=Carter+One" rel="stylesheet" type="text/css">
        <!-- bower:css -->

        <link rel="stylesheet" href="/static/bower_components/bootstrap-social/bootstrap-social.css">

        <!-- endinject -->
        <!-- inject:css -->

        <link rel="stylesheet" href="/static/css/styles.css">

        <!-- endinject -->
        {% block css %}
        {% endblock %}
    </head>
    <body style="padding-top: 5em;" class="bg-inverse">
      <nav class="navbar navbar-fixed-top navbar-dark">
        <a class="navbar-brand" href="/" style="padding:0; margin-top: 0; margin-bottom: 0;"><img height="36px" src="{% static 'imgs/poop.png' %}"></a>
        <ul class="nav navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'quotes:latest' %}">Ver las más recientes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'quotes:top' %}">Ver las más votadas</a>
                </li>
        </ul>
          {% if user.is_authenticated %}

        <div class="btn-group pull-xs-right">
            <div class="btn-group">
              <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{ user }}
              </button>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="{{ user.get_absolute_url }}">Perfil</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/accounts/logout">Logout</a>
              </div>
            </div>
            {% else %}
            <div class="pull-xs-right"><a class="nav-link" href="{% url 'account_login' %}">Login</a></div>
          {% endif %}
        </nav>
        <div class="container">
            <div class="row">
                <h1 id="brand" class="text-xs-center"><a href="/">¿Sabes qué me caga?</a></h1>
            </div>
            {% block content %}
            {% endblock %}
            <footer class="navbar text-xs-center">
                <small class="text-muted">Sabesquemecaga.com no se hace responsable del contenido aqui expresado. Desarrollado por <a href="http://gabrielsaldana.org">Gabriel Saldaña</a> y Luis Pérez.</small>
            </footer> <!-- #footer -->
        </div><!-- /container -->
        <script src="//twemoji.maxcdn.com/twemoji.min.js"></script>
        <!-- bower:js -->

        <script src="/static/bower_components/jquery/dist/jquery.js"></script>

        <script src="/static/bower_components/tether/dist/js/tether.js"></script>

        <script src="/static/bower_components/bootstrap/dist/js/bootstrap.js"></script>

        <!-- endinject -->
        <!-- inject:js -->

        <!-- endinject -->
        {% block javascript %}
        {% endblock %}
    </body>
</html>
