{% load crispy_forms_tags %}
{% if form.errors %}
{% for error in form.errors %}
<div id="quote-form">
    <div class="row">
    <div class="alert alert-{{ alert_css }}" role="alert">
        {{ error }}
    </div>
</div>
{% endfor %}
{% endif %}

<div class="row center-float">
<form class="form-inline" method="POST" action="/new">
  {% csrf_token %}
  <div class="form-group">
    <label for="id_message" class="requiredField">Desahógate aquí </label>
    <input id="id_message" class="form-control" style="width: 680px;" maxlength="140" name="message" type="text" value="Me caga " required>
  </div>
  <button  class="btn btn-primary" name="submit-btn" type="submit">Enviar</button>
</form>
</div>

<div class="row center-float">
    <small id="quote_help" class="form-text text-muted">Tu mensaje es completamente anónimo.</small>
</div>
</div>
